name: go-hclog

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        go-version: 
          - 'oldstable'
          - 'stable'
        os: [ubuntu-latest, windows-latest, macOS-latest]
    steps:
      - name: Install Go
        uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
        with:
          go-version: ${{ matrix.go-version }}
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Cache GolangCI-Lint
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: ~/.cache/golangci-lint
          key: golangci-lint-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: golangci-lint-${{ runner.os }}-
      - name: Cache Go Modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306
        with:
          path: |
              ~/go/pkg/mod
              ~/.cache/go-build
          key: go-mod-${{ runner.os }}-${{ hashFiles('**/go.sum') }}
          restore-keys: go-mod-${{ runner.os }}-
      - name: Run golangci-lint
        uses: golangci/golangci-lint-action@08e2f20817b15149a52b5b3ebe7de50aff2ba8c5
        with:
          version: latest  
          args: --timeout=5m --verbose
          only-new-issues: true
      - name: Run Tests with coverage
        run: go test -v -coverprofile="coverage.out" ./...
      - name: Upload coverage report
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f
        with:
          path: coverage.out
          name: Coverage-report-${{ matrix.os }}-${{ matrix.go-version }}
      - name: Display coverage report            # displaying only for linux & macOS
        if: ${{runner.os != 'Windows'}}               
        run: go tool cover -func=coverage.out
      - name: Build Go
        run: |
          cd hclogvet
          go build ./...
          cd example 
          go build ./...
